/*************************
    GENERAL RULES
 *************************/

 h1 {
    font-size: 2.3em;
    font-weight: 600;
}

h2 {
    font-size: 1.7em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

h4,
.button_style {
    font-size: 1.2em;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

p,
form {
    text-align: left;
}

p,
::placeholder,
address,
footer span,
#social_row {
    font-size: 1.3em;
}

form >* {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: solid 1px #cccccc;
}

section {
    padding: 50px 0 30px;
}

/* General Colors */
.bg_drk_blue {
    background-color: #2c3e50;
}

 .bg_green {
    background-color: #1abc9c;
}

.dark-blue {
    color: #2c3e50;
}

header,
.bg_green,
footer {
    color: #ffffff;
}

::placeholder,
::-webkit-input-placeholder {
    color: #2c3e50;
    opacity: 1;
}

/* General Button */
.button_style {
    background-color: #1abc9c;
    color: white;
    width: auto;
    border: solid 1px;
    border-radius: 7px;
    padding: 10px 15px;
    font-weight: 600;
    margin-top: 20px;
}

        /* FONT-SIZE AND SPACING QUERY MD< (min 768px)*/
        @media all and (min-width: 768px) {
            
            h1 {
                font-size: 4em;
            }
            h2 {
                font-size: 3.2em;
            }
            h3 {
                font-size: 1.4em;
            }
            h4 {
                font-size: 1.6em;
            }

            section,
            #media-footer {
                padding: 75px 0 60px;
            }
        }


/*************************
    UTILITIES
 *************************/

/* Round logo social media */
    .social_logo {
        display: flex;
    }

    .social_logo a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }

/* Star divider */
    .star-divider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100vw / 3);
        max-width: 450px;
        margin: 20px auto;
        font-size: 30px;
    }

    .star-divider.short-divider {
        width: calc(100vw / 4);
        max-width: 380px;
    }

    .star-divider .line-divider {
        width: 38%;
        height: 0;
        border: 2px solid;
        border-radius: 5px;
    }

    
    /* BS overwrite */
        header .container-fluid * {
            color: inherit;
        }

        .navbar {
            min-height: 90px;
            
            /* This is not a valid option but I couldn't find another way to change the color of the icon */
            --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(136, 136, 136)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }

        .navbar-toggler {
            border: solid 1px #ffffff;
            font-size: inherit;
            padding: 5px 10px;
        }

/*************************
    STRUCTURE
 *************************/

/* HEADER */
 header {
    min-height: 90px;
}

/* JUMBO */
section#jumbo {
    padding: 25px 0;
}

#jumbo img {
    width: 250px;
    margin-bottom: 20px;
 }

        /* JUMBO RESPONSIVE MD (min 768px)  */

        @media all and (min-width: 768px) {
            section#jumbo {
                padding: 65px 0;
            }
        }


/* MAIN */

#portfolio img {
    border-radius: 10px;
}

/* FOOTER */
#media-footer {
    background-color: #3a546d;
    padding: 50px 0;
}

#social_row {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin: 0 auto 20px;
    padding: 0;
}

#media-footer span a {
    color: #1abc9c;
}

#copyright-footer {
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
}




/*************************
    DEBUG
 *************************/
/* 
.container {
    border: dotted 2px;
}

[class*="col"] {
    border: dotted 1px yellow;
}

body >* {
    border: solid 1px blueviolet;
}

section {
    border: solid 1px;
}

footer #media-footer {
    min-height: 230px;
}

 */
