/*************************
    GENERAL RULES
 *************************/
 a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}


/*************************
    UTILITIES
 *************************/

.bg_green {
    background-color: #1abc9c;
}

header,
#copyright-footer {
    background-color: #2c3e50;
}

header,
.bg_green,
footer {
    color: #ffffff;
}

        /* BS overwrite */
        header .container-fluid * {
            color: inherit;
        }

        .navbar {
            min-height: 95px;
        }

        .navbar-toggler {
            border: solid 1px #ffffff;
        }


/*************************
    STRUCTURE
 *************************/

header {
    min-height: 95px;

}

/* FOOTER */
#media-footer {
    background-color: #3a546d;
}

#copyright-footer {
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*************************
    DEBUG
 *************************/

.container {
    border: dotted 2px;
}

[class*="col"] {
    border: dotted 1px yellow;
}

body >* {
    border: solid 1px blueviolet;
}

/* MAIN */
section {
    border: solid 1px;
}

.debug_content {
    min-height: 490px;
}

/* FOOTER */
#media-footer {
    min-height: 230px;
}


