/*************************
    GENERAL RULES
 *************************/
 a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}


/*************************
    UTILITIES
 *************************/

.bg_green {
    background-color: #1abc9c;
}

header,
#copyright-footer {
    background-color: #2c3e50;
}

header,
.bg_green,
footer {
    color: #ffffff;
}

section,
#media-footer {
    padding: 50px 0;
}

    /* SECTION QUERY MD (min 768px)*/
    @media all and (min-width: 768px) {
        section,
        #media-footer {
            padding: 85px 0;
        }
    }


/* Star divider */
.star-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 20px auto;
    font-size: 30px;
}

.star-divider.short-divider {
    width: 125px;
}

    /* STAR DIVIDER MD (min 768px)*/
    @media all and (min-width: 768px) {
        .star-divider {
            width: 370px;
        }

        .star-divider.short-divider {
            width: 255px;
        }
    }


.star-divider .line-divider {
    width: 38%;
    height: 0;
    border: 2px solid;
    border-radius: 5px;
}


        /* BS overwrite */
        header .container-fluid * {
            color: inherit;
        }

        .navbar {
            min-height: 90px;
        }

        .navbar-toggler {
            border: solid 1px #ffffff;
        }


/*************************
    STRUCTURE
 *************************/

/* HEADER */
 header {
    min-height: 90px;
}

/* JUMBO */
section#jumbo {
    padding: 25px 0;
}

#jumbo img {
    width: 250px;
    margin-bottom: 20px;
 }

        /* JUMBO RESPONSIVE MD (min 768px)  */

        @media all and (min-width: 768px) {
            section#jumbo {
                padding: 65px 0;
            }
        }


/* MAIN */

#portfolio img {
    border-radius: 10px;
}

/* FOOTER */
#media-footer {
    background-color: #3a546d;
}

#copyright-footer {
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*************************
    DEBUG
 *************************/

.container {
    border: dotted 2px;
}

[class*="col"] {
    border: dotted 1px yellow;
}

body >* {
    border: solid 1px blueviolet;
}

/* MAIN */
section {
    border: solid 1px;
}

.debug_content {
    min-height: 490px;
}

/* FOOTER */
#media-footer {
    min-height: 230px;
}


